In [1]:
import pandas as pd
data = pd.read_csv('spam_dataset.csv')

In [2]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

Remove the last three columns

In [3]:
data = data[['v1','v2']]

In [4]:
data.rename(columns={'v1':'label','v2':'text'}, inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   text    5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [6]:
data.label.value_counts(normalize=True)

ham     0.865937
spam    0.134063
Name: label, dtype: float64

We have about 87% of the data to be ham and about 13% being spam, so there is a data imbalance

In [7]:
X ,y = data.text,data.label

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = .2, random_state=2022)

Splitting the data into parts for training and testing

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm ,ensemble,pipeline

model = pipeline.Pipeline(
[
    ('tokenizer',CountVectorizer()),
    ('estimator', svm.SVC())
])

In [12]:
model.fit(X_train,y_train) # fitting the model to the training data
model.score(X_test,y_test)

0.9829596412556054

In [15]:
print(model.predict(['Free entry in 2 a wkly comp to win FA Cup enter this code']))

['spam']